@model IList<Walmart.Entidades.Cidade>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            CodCidade
        </th>
        <th>
            CodEstado
        </th>
        <th>
            Nome
        </th>
        <th>
            Capital
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CodCidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodEstado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Capital)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CodCidade }) 
            @Html.ActionLink("Details", "Details", new { id = item.CodCidade }) 
            @Html.ActionLink("Delete", "Delete", new { id = item.CodCidade })
        </td>
    </tr>
}

</table>
